<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>我们需要使用麦克风来录制您的语音，以便进行语音识别和单词练习</string>
	
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>我们需要使用语音识别功能来评估您的发音准确度</string>
	
	<key>Privacy - Apple ID Authentication Usage Description</key>
	<string>我们需要使用您的 Apple ID 来为您提供安全的登录服务</string>
	
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
	</array>
	
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kewan</string>
			</array>
			<key>CFBundleURLName</key>
			<string>qiuzx.Kewan</string>
		</dict>
	</array>
	
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	
	<key>UILaunchScreen</key>
	<dict/>
	
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
